
    <!-- Start about section -->
    <section id ="about" class="about-section section-gap">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-6 about-left">
                    <h1>
                        {{ site.about-title }}
                    </h1>
                    <p class="pt-20 pb-20">
                        {{ site.about-description }}
                    </p>
                    <a href="{{ site.cta_btn_link_one }}" class="genric-btn2">{{ site.cta_btn_text_one }}</a>
                </div>
                <div class="col-lg-6 text-center">
                    <img class="img-fluid" src="{{ 'img/team.png' | relative_url }}" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End about section -->